html, body{
    overflow-x: hidden;
}

body{
    font-family: "Unbounded", sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    background-color: #111;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-large{
    max-width: 1536px;
    padding: 0 15px;
    margin: 0 auto;
}

.link{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 98%;
    background: linear-gradient(to right, #00BB6A, #08653D);
    border-radius: 60px;
    padding: 22px;
    margin-top: 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        -webkit-box-shadow: 6px 3px 7px 1px rgba(0,187,106,1);
        -moz-box-shadow: 6px 3px 7px 1px rgba(0,187,106,1);
        box-shadow: 6px 3px 7px 1px rgba(0,187,106,1);
    }
    span{
        font-family: "Gilroy";
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }
    transition: all .3s;
}
.select2{
    &-container{
        width: 166px !important; // selector wrapper
    }
    &-container--default &-selection--single { // selector wrapper
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 40px;
        transition: all .3s;

        &:hover{
            -webkit-box-shadow: 6px 3px 7px 1px rgba(0,187,106,1);
            -moz-box-shadow: 6px 3px 7px 1px rgba(0,187,106,1);
            box-shadow: 6px 3px 7px 1px rgba(0,187,106,1);
        }
    }
    &-container &-selection--single{ // selector wrapper
        height: 40px !important;
    }
    &-container &-selection--single &-selection__rendered{ // selector title
        padding: 4px 20px 0px 20px;
        font-size: 14px;
        text-transform: uppercase;
    }
    &-selection__rendered span{ // selector title
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &-selection__rendered img{ // flag
        width: 17px;
        height: 17px;
    }
    &-container--default &-selection--single &-selection__arrow{ // arrow
        top: 7px !important;
        right: 20px;
    }
    &-container--default.select2-container--open.select2-container--below &-selection--single{ // active selector
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    //options
    &-dropdown{ //options container
        background: transparent;
        border: 1px solid #fff;
        border-radius: 13px;
    }
    &-container--open &-dropdown--below{ // options container
        border-top: 1px solid #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &-container--default &-results__option--selected { // single option
        background-color: transparent !important;
        border-bottom: 1px solid #fff !important;
    }
    &-container--open &-dropdown{ // options container
        left: 0;
        top: 14px !important;
    }
    &-search--dropdown{ // search input
        display: none !important;
    }
    &-container--default &-selection--single &-selection__rendered{
        color: #fff !important;
    }
    &-option-img {
        width: 17px;
        height: 17px;
    }
    &-container--default &-results__option--highlighted.select2-results__option--selectable { // option
        background-color: transparent;
        color: white;
    }
}
.title{
    max-width: 750px;
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 50px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, rgba(0,187,106,1) 0%, rgba(0,187,106,1) 100%, rgba(0,187,106,1) 0%);
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
// Animation on scrolling
.animation-hide, .animation-to-left, .animation-to-right, .animation-to-bottom, .animation-to-top{
    opacity: 0;
    filter: blur(5px);
    transition: all .5s;
}
.animation-to-left{transform: translateX(100%);}
.animation-to-right{transform: translateX(-100%);}
.animation-to-bottom{transform: translateY(100%);}
.animation-to-bottom{transform: translateY(-100%);}

.animation-show{
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, 0);
}
// .animation-show{}