@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"),
		url('../fonts/#{$file}.woff2') format('woff2'),
		url('../fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@mixin circle($width: 540px, $height: 540px, $radius: 50%, $opacity: .4, $shadow: 500px 0px 500px #00bb6a, $z: 1){
	content:"";
	position: absolute;
	width: $width;
	height: $height;
	border-radius: $radius;
	background-color: #00BB6A;
	filter: blur(145px);
	// box-shadow: $shadow;
	// 0px -50px 0px 505px #00bb6a
	opacity: $opacity;
	z-index: $z;
	opacity: .4;
}
